---
// src/pages/index.astro
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout titulo="Inicio">
    
    <h1>⚡ Soluciones Eléctricas en Arequipa</h1>
    <p>
        Bienvenido al sitio oficial de Quilla Electric. 
        Realizamos mantenimiento de pozos a tierra y cableado estructurado.
    </p>
    <button>Ver Servicios</button>

</MainLayout>